# Project exclude paths
/.gradle/
/Car Sharing/task/build/
/Car Sharing/task/out/
/Car Sharing/task/out/production/classes/
/Car Sharing/task/out/test/classes/
/Topics/Collectors/ASCII Art/out/
/Topics/Collectors/ASCII Art/out/production/classes/
/Topics/Collectors/Determine the value/out/
/Topics/Collectors/Determine the value/out/production/classes/
/Topics/Collectors/Set average/out/
/Topics/Collectors/Set average/out/production/classes/
/Topics/Collectors/Statements/out/
/Topics/Collectors/Statements/out/production/classes/
/Topics/Collectors/Theory/out/
/Topics/Collectors/Theory/out/production/classes/
/Topics/Comparator/Sort users/out/
/Topics/Comparator/Sort users/out/production/classes/
/Topics/Comparator/Theory/out/
/Topics/Comparator/Theory/out/production/classes/
/Topics/Comparing values. Relational operators/Check the value/out/
/Topics/Comparing values. Relational operators/Check the value/out/production/classes/
/Topics/Comparing values. Relational operators/Theory/out/
/Topics/Comparing values. Relational operators/Theory/out/production/classes/
/Topics/File class/Are siblings/out/
/Topics/File class/Are siblings/out/production/classes/
/Topics/File class/Non-existing location/out/
/Topics/File class/Non-existing location/out/production/classes/
/Topics/File class/Theory/out/
/Topics/File class/Theory/out/production/classes/
/Topics/File class/Сorrect statements/out/
/Topics/File class/Сorrect statements/out/production/classes/
/Topics/Functional data processing with streams/A sorted stream/out/
/Topics/Functional data processing with streams/A sorted stream/out/production/classes/
/Topics/Functional data processing with streams/Count passwords/out/
/Topics/Functional data processing with streams/Count passwords/out/production/classes/
/Topics/Functional data processing with streams/Print elements of a stream/out/
/Topics/Functional data processing with streams/Print elements of a stream/out/production/classes/
/Topics/Functional data processing with streams/Statements about stream operations/out/
/Topics/Functional data processing with streams/Statements about stream operations/out/production/classes/
/Topics/Functional data processing with streams/Theory/out/
/Topics/Functional data processing with streams/Theory/out/production/classes/
/Topics/Functional interfaces/A lambda expression with seven arguments/out/
/Topics/Functional interfaces/A lambda expression with seven arguments/out/production/classes/
/Topics/Functional interfaces/An invalid way to create a functional interface/out/
/Topics/Functional interfaces/An invalid way to create a functional interface/out/production/classes/
/Topics/Functional interfaces/Theory/out/
/Topics/Functional interfaces/Theory/out/production/classes/
/Topics/Generics and Object/Correct the usage of non-generic class/out/
/Topics/Generics and Object/Correct the usage of non-generic class/out/production/classes/
/Topics/Generics and Object/Finding the maximum value among different data types/out/
/Topics/Generics and Object/Finding the maximum value among different data types/out/production/classes/
/Topics/Generics and Object/Theory/out/
/Topics/Generics and Object/Theory/out/production/classes/
/Topics/Lambda expressions/Max of two integers/out/
/Topics/Lambda expressions/Max of two integers/out/production/classes/
/Topics/Lambda expressions/Parts of code/out/
/Topics/Lambda expressions/Parts of code/out/production/classes/
/Topics/Lambda expressions/Theory/out/
/Topics/Lambda expressions/Theory/out/production/classes/
/Topics/Optional/Avoiding exceptions/out/
/Topics/Optional/Avoiding exceptions/out/production/classes/
/Topics/Optional/Sum up optional values/out/
/Topics/Optional/Sum up optional values/out/production/classes/
/Topics/Optional/The address book/out/
/Topics/Optional/The address book/out/production/classes/
/Topics/Optional/Theory/out/
/Topics/Optional/Theory/out/production/classes/
/Topics/Optional/What is Optional/out/
/Topics/Optional/What is Optional/out/production/classes/
/Topics/Reduction methods/Reduce-like operations/out/
/Topics/Reduction methods/Reduce-like operations/out/production/classes/
/Topics/Reduction methods/Statements/out/
/Topics/Reduction methods/Statements/out/production/classes/
/Topics/Reduction methods/Sum of divisors/out/
/Topics/Reduction methods/Sum of divisors/out/production/classes/
/Topics/Reduction methods/Theory/out/
/Topics/Reduction methods/Theory/out/production/classes/
/Topics/Standard functional interfaces/Describe the function/out/
/Topics/Standard functional interfaces/Describe the function/out/production/classes/
/Topics/Standard functional interfaces/Interface matching/out/
/Topics/Standard functional interfaces/Interface matching/out/production/classes/
/Topics/Standard functional interfaces/Select suitable interfaces/out/
/Topics/Standard functional interfaces/Select suitable interfaces/out/production/classes/
/Topics/Standard functional interfaces/Ternary operator/out/
/Topics/Standard functional interfaces/Ternary operator/out/production/classes/
/Topics/Standard functional interfaces/Theory/out/
/Topics/Standard functional interfaces/Theory/out/production/classes/
/Topics/Static members/Project constants and methods/out/
/Topics/Static members/Project constants and methods/out/production/classes/
/Topics/Static members/Theory/out/
/Topics/Static members/Theory/out/production/classes/